<div class="wrapper">
    <h1 class="welcome">Edit Post</h1>
<form action="/{{id}}?_method=PUT" method="POST">
    <h2>Photo link:</h2>
    <input type="text" name="link" value="{{link}}"> 
    <h2>Description:</h2>
    <input type="text" name="description" value="{{description}}"> <br> <br>
    <input class="btn" type="submit" value="Submit">
</form>
<h2>{{error}}</h2>
</div>