<div class="wrapper">
<h1 class="welcome">New Post</h1>
<form action="/" method="POST">
   <h2> Author:</h2> 
    <input type="text" name="author" placeholder="author">
    <h2>Photo Link:</h2> 
    <input type="text" name="link" placeholder="Photo link"> 
    <h2>Description :</h2>
    <input type="text" name="description" placeholder="description"> <br> <br>
    <input class="btn" type="submit" value="Submit">
</form>
<h2>{{error}}</h2>
</div>